.artist-info {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 1rem;
	gap: 1rem;
}

.artist-info img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 50%;
}

.artist-albums ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1rem;
	padding: 2rem;
	list-style-type: none;
}

.artist-albums ul img {
	width: 100%;
	height: auto;
}

audio {
	width: 100%;
	height: 30px;
}

h2 {
	text-align: center;
}
