.notFound {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--stroke);
    gap: 40px;
}

.notFound > h1 {
    color: var(--not_found);
}

.notFound > a {
    color: var(--primary);
}