.presentation {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 70svh;
    align-items: center;
    padding: 0px 40px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-left: 200px;
    align-items: flex-start;
}

.presentation-text > h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
}

.presentation-text > p {
    color: var(--paragraph);
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
}

.presentation-img {
    padding-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation-img > img {
    width: 90%;
    max-width: 675px;
    min-width: 280px;
    height: 90%;
    object-fit: contain;
}

@media (max-width: 1530px) {
    .presentation {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 100px;
        margin-top: 100px;
    }
    .presentation-text > h1 {
        text-align: center;
    }
    .presentation-text {
        align-items: center;
    }
    .presentation-text > p {
        text-align: center;
    }
}