footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h3 {
  color: var(--color);
}

footer span {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
