.input {
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    background-color: transparent;
    border-radius: 10px;
    border: orange 2px solid;
    color: white;
    text-transform: uppercase;
}

.acertada {
    background-color: rgb(38, 190, 38);
}

.casi {
    background-color: rgb(177, 120, 13);
}