a{
  color: var(--secondary);
  text-decoration: none;
  display:flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: 1px dotted var(--secondary)
}

a:hover{
  color: orange;
  border: 1px dotted orange;
}

a img{
  height: 20px;
  width: 20px;
}

a.reverse{
  flex-direction: row-reverse;
}