.hero {
	min-height: 50vh;
	display: flex;
	justify-content: space-between;
	padding: 0 2rem;
	gap: 1rem;
	align-items: center;
}

.hero img {
	height: 300px;
}

.hero button {
	padding: 0.4rem 0.6rem;
	border: 2px solid var(--primary);
	background-color: var(--highlight);
	color: var(--secondary);
}
