:root {
  --primary: #ffa500;
  --secondary: #163363;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--secondary);
  background-color: var(--primary);
  transition: 0.4s;
}

body.dark {
  color: var(--primary);
  background-color: var(--secondary);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header > button {
  padding: 8px 14px;
  height: 60px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: transparent;
  color: inherit;
  font-weight: 600;
  font-size: 20px;
  transition: 0.4s;
  text-transform: uppercase;
}

header > button:hover {
  background-color: whitesmoke;
}

nav > ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav button {
  border: none;
  background-color: transparent;
  font-weight: 800;
  border-bottom: 2px solid black;
  color: inherit;
}

nav button:hover {
  border-bottom: 2px solid white;
}

nav button::before {
  content: "📖";
  padding-right: 8px;
}

.description {
  margin: 10px 40px;
  padding: 40px;
  border: 1px dashed black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.description div{
  background-color: rgba(0, 0, 0, 0.305);
  padding: 8px;
  border-radius: 10px;
}

code{
  color: white;
}

.methods ul{
  display:grid;
  padding: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  text-align: center;
}

.methods li{
  padding: 10px;
  border: 1px dashed black;
}

footer{
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}