header {
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

header img {
  height: 80%;
}

header ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

header a {
  color: var(--primary);
  text-decoration: none;
}

header a:hover {
  color: var(--secondary);
}
