.pregunta {
    font-size: 30px;
    text-align: center;
}

.respuesta {
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 80%;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.option {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}