.buttons {
  position: absolute;
  top: 50px;
  left: 45%;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.buttons>button {
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px 13px;
  background-color: rgb(255, 212, 132);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.buttons>button:hover {
  transform: scale(1.1);
}