header {
  display: flex;
  padding: 0 2rem;
  align-items: center;
  gap: 2rem;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header > div > img {
  height: 2.5rem;
}

header > div > h1 {
  font-size: 2.5rem;
}

header > h3 {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
