.gallery-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 300px;
	padding: 2rem 0;
	gap: 1rem;
}

.gallery-layout img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 980px) {
	.gallery-layout img:nth-child(2) {
		grid-column: span 2;
	}

	.gallery-layout img:nth-child(4) {
		grid-column: span 2;
	}
	.gallery-layout img:nth-child(9) {
		grid-column: span 2;
	}

	.gallery-layout img:nth-child(11) {
		grid-column: span 2;
	}
}
