figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

figure > a {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: inherit;
  text-decoration: none;
  font-size: 0.8rem;
}

figure > a:hover {
  text-decoration: underline;
}
