.character_form {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    background-color: antiquewhite;
    padding: 50px;
    border-radius: 10px;
    border: 3px solid black;
    width: 30%;
    min-width: 400px;
}

.character_form > button {
    border: none;
    border-radius: 10px;
    background-color: rgb(113, 97, 233);
    color: white;
    font-size: 17px;
    padding: 8px 12px;
    cursor: pointer;
    margin: auto;
}