:root {
	--primary: #0f0e17;
	--secondary: #fffffe;
	--tertiary: #a7a9be;
	--highlight: #f25f4c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: var(--primary);
	color: var(--tertiary);
}

h1,
h2,
h3,
h4,
a {
	color: var(--secondary);
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
