:root {
	--background-color: #2e3333;
	--primary-color: #f0c301;
	--secondary-color: #c8c8c8;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}

body {
	background-color: var(--background-color);
	color: var(--primary-color);
	background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
}
