* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    height: 10svh;
    background-color: rgb(137, 137, 255);
}

footer {
    background-color: rgb(255, 124, 124);
}

body {
    display: flex;

    /* indicar que el eje principal es el vertical y el secundario el horizontal */
    flex-direction: column;

    /* el eje principal se maneja con justify-content */
    justify-content: space-between;

    /* aumento el espacio disponible */
    min-height: 100svh;
}

/* es el padre de aside y main */
#content {
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
    background-color: rgb(255, 212, 132);
    min-height: 80svh;
    min-width: 100px;
    flex-grow: 0;
    flex-shrink: 1;
}

main {
    width: 85%;
    min-height: 80svh;
    background-color: rgb(255, 223, 229);
    min-width: 600px;
}

@media (max-width: 650px) {
    #content {
        flex-direction: column;
    }
    aside {
        min-height: 10svh;
        width: 100%;
    }
    main {
        min-width: 0px;
        width: 100%;
        min-height: 70svh;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    gap: 10px;
    position: relative;
    flex-wrap: wrap;
}

/* aquí estoy seleccionando TODOS los hijos directos del header que son a los que el display flex les va a afectar directamente */
/* header > * {
    border: solid 3px black;
} */

ul.flex-container {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    gap: 70px;
}

h1 {
    min-width: 237px;
}

@media (max-width: 830px) {
    /* ul.flex-container {
        flex-direction: column;
        align-items: flex-end;
        width: 150px;
        position: absolute;
        top: 20px;
        right: 0px;
        gap: 10px;
        padding-right: 50px;
        background-color: rgb(137, 137, 255);
    } */
    /* header {
        align-items: start;
        gap: 20px;
    } */
    /* h1 {
        font-size: 20px;
        min-width: 148px;
    } */
}