header {
  display: flex;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  gap: 1.5rem;
}

header > h1 {
  background-color: var(--logo);
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  color: var(--color-background);
}

header input {
  padding: 1rem 1.4rem;
  border-radius: 2rem;
  flex-grow: 1;
  background-color: var(--secondary);
  border: none;
  font-size: 1rem;
}

header button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 28px;
  width: 28px;
}

header button:hover {
  background-color: var(--secondary);
}

header .icon {
  filter: contrast(30%);
}

header .profileimg {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
