header {
    height: 5svh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}

header > nav {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
    width: 100%;
}

header > nav > a {
    color: var(--background);
}

header > nav > a:hover {
    border-bottom: var(--background) 1px solid;
}