header {
  height: 20vh;
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  gap: 1rem;
}

header h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
