.aprobado {
    color: green;
}

.suspenso {
    color: red;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.mediaPositiva {
    background-color: rgb(155, 255, 155);
    border-radius: 20px;
    border: 3px solid black;
}

.mediaNegativa {
    background-color: rgb(255, 155, 155);
}