main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
}

main > h2 {
  text-transform: uppercase;
}

.merch {
  padding: 20px;
  width: 100%;
  list-style-type: none;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 340px;
}

.merch li {
  text-align: center;
  font-size: 12px;
}

.merch li img {
  width: 280px;
  height: auto;
  transition: 0.4s ease-in-out;
}

.merch li img:hover {
  transform: scale(0.9);
}
