.sub_links {
    position: absolute;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
    color: black;
}

.sub_links > ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub_links li {
    border-bottom: 1px solid rgb(64, 64, 64);
}

.sub_links a {
    color: black;
}