.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.buscar, button {
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 215, 140);
    padding: 10px;

}

button {
    cursor: pointer;
}

.img-wrp, .skeleton {
    /* width: 300px;
    height: 200px; */
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}

.img-wrp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 120px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
    padding: 0px 30px;
    max-width: 700px;
    margin: auto;
}

.img-wrp:nth-child(1), .skeleton:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.img-wrp:nth-child(2), .skeleton:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.img-wrp:nth-child(4), .skeleton:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.img-wrp:nth-child(10), .skeleton:nth-child(10) {
    grid-column: 3 / 5;
}

.skeleton {
    background-color: #E2E8F0;
    animation: skeletonAnimation 1s infinite;
}

@keyframes skeletonAnimation {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 0.3;
    }
}