#juegos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.juego {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.juego > div {
  border-radius: 20px;
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.juego > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

#postJuego {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

button {
  cursor: pointer;
}