.field_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.field_form > label {
    font-size: 16px;
}

.field_form > input {
    border-radius: 10px;
    padding: 8px 12px;
    font-size: 18px;
    border: solid black 2px;
}