.gestor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horarios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    gap: 50px;
}