.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	gap: 2rem;
	flex-wrap: wrap;
}

.product img {
	height: 400px;
	width: 400px;
}

.product div {
	width: 500px;
}

.product ul {
	display: flex;
	padding: 1rem 0;
	gap: 2rem;
}
