header {
    height: 5dvh;
    background-color: orange;
    padding: 20px;
    display: flex;
    align-items: center;
}

header > nav {
    width: 100%;
}

.list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}