@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --background: #2e2f33;
  --text: #f4c725;
  --primary: #c5e2d3;
  --secondary: #eb6028;
  --terciary: #8a0a3d;
}

h1, h2, h3, h4, h5 ,h6 , p, label {
  color: var(--text);
}