* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 20px 20px;
}

label {
  color: white;
  font-size: 40px;
  position: absolute;
  right: 20px;
  top: 0px;
}

/*MOBILE*/
@media (max-width: 576px) {
  nav {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  #menu:not(:checked) + ul {
    height: 0px;
    visibility: hidden;
    transition: height 2s;
    width: 0;
  }

  #menu:checked + ul {
    transition: height 2s;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #menu {
    display: none;
  }

  nav ul {
    display: block;
  }
}
/*TABLET & > */
@media (min-width: 577px) {
  input,
  label {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}

a {
  color: white;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:hover {
  color: orange;
}
