.card {
  max-width: 15rem;
}

.card > img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 0.8rem;
  box-shadow: 10px 10px 0px 0px var(--primary-color);
  border-radius: 10px;
  border: 4px solid var(--primary-color);
}

.card > a {
  text-decoration: underline;
}
