.field-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.field-form > input {
    border-radius: 8px;
    border: none;
    text-align: center;
    padding: 8px 10px;
}