#superheroes-container {
	display: flex;
	flex-wrap: wrap;
	gap: 3rem;
	list-style-type: none;
	justify-content: space-around;
}

#superheroes-container > li {
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.38);
	padding: 2rem;
}
