@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --background: #f7e3b0;
  --primary: #ffd9b8;
  --secondary: #f9c3c3;
  --terciary: #fda7a7;
  --stroke: #e6a3a3;
}

body {
  background-color: var(--background);
}

#usersContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

.user,
.info {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.info {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

.mostrar {
  font-size: 23px;
  padding: 50px 50px 0px 50px;
  cursor: pointer;
  user-select: none;
}

#filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-template-rows: 100px 100px 100px;
  padding: 0px;
  padding-left: 50px;
  height: 0px;
  overflow: hidden;
  transition: all 0.5s;
}

.abierto {
  padding: 50px 0px 50px 50px !important;
  height: 420px !important;
}

#filters > div:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

#iniciales {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

#iniciales > div {
  cursor: pointer;
  background-color: var(--secondary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid var(--stroke);
  transition: all 0.5s;
}

#iniciales > div:hover {
  background-color: var(--terciary);
}

#filters > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

#filters > div > input,
#filters > div > select {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 250px;
}

#limpiar {
  cursor: pointer;
  margin-top: 30px;
  width: 150px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}

.notFound {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}