:root {
  --primary: #202020;
  --secondary: #ffffff;
  --tertiary: #9e9e9e;
  --highlight: #e62529;
  font-family: Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--tertiary);
}

::-webkit-scrollbar-thumb {
  height: 5px;
  background-color: var(--highlight);
}

li {
  list-style-type: none;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

a:hover {
  color: var(--secondary);
  border-bottom: 2px solid var(--highlight);
}

header img {
  height: 80px;
  width: auto;
  display: block;
  margin: 10px auto;
}

header > nav > ul {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.banner {
  height: 300px;
  margin: 20px;
  overflow: hidden;
}

.banner > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  animation: entrance 6s;
}

.comics > ul {
  display: flex;
  padding: 20px;
  margin: 20px;
  background-color: var(--secondary);
  color: var(--primary);
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 10px;
}

.comics img {
  width: 200px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.comics img:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.641) 0px 3px 8px;
}

.comics img:hover + figcaption {
  color: var(--highlight);
}

.comics figcaption h3 {
  font-size: 11px;
}

.comics figcaption p {
  font-size: 11px;
  font-weight: 600;
  color: var(--tertiary);
}

@keyframes entrance {
  0% {
    transform: scale(3);
    filter: grayscale(100%) blur(10px);
  }

  100% {
    transform: scale(1);
    filter: grayscale(0%);
  }
}
