.useState {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 20svh;
    position: absolute;
    width: 100%;
    top: 0;
  }
  
  .useState > button {
    padding: 10px 13px;
    border: none;
    background-color: rgb(255, 214, 137);
    border-radius: 2px;
    cursor: pointer;
  }