.gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    width: 800px;
    margin: auto;
    margin-top: 5svh;
}

.gallery > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.5s;
}

.gallery > img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 4px #767676);
}

.gallery > img:nth-child(1) {
    grid-column: 1 / 3;
}

.gallery > img:nth-child(2) {
    grid-column: 4 / 6;
    grid-row: 1 / 4;
}

.gallery > img:nth-child(3) {
    
}

.gallery > img:nth-child(4) {
    grid-column: 1 / 4;
}

.gallery > img:nth-child(6) {
    
}

.gallery > img:nth-child(7) {
    
}

.gallery > img:nth-child(8) {
    
}