#login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background-color: whitesmoke;
}

#login > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

#login > div > input {
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
}

#login > button {
    border: 2px solid black;
    background-color: rgb(111, 255, 111);
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}