.main-button {
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;
    background-color: var(--rtc-text-color);
    color: var(--rtc-bg-color);
    border: none;
    cursor: pointer;
}