.card {
  list-style-type: none;
  height: 200px;
  width: 70vw;
}

.card > figure {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 2rem;
}

.card img {
  height: 100%;
  aspect-ratio: 1.1;
  object-fit: cover;
}

.card:nth-child(odd) {
  background-color: #353639;
}
