@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* quitar los estilos por defecto */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* declarar las variables de colores */
:root {
    --background: #f3f2ef;
    --primary: #ffffff;
    --secondary: #eef3f8;
    --stroke: #e0dfdc;
    --important: red;
}

body {
    background-color: var(--background);
}

/*? empezamos a maquetar el header */
header {
    height: 10svh;
    background-color: var(--primary);
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header p {
    white-space: nowrap;
}

/* todas las imágenes que estén dentro de una etiqueta header */
header img {
    width: 25px;
}

.buscador {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buscador > img {
    width: 40px;
}

.buscador > input {
    background-color: var(--secondary);
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
}

/* el ul con los elementos del navbar */
.navbar-list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 100px);
    gap: 10px;
}

/* selecciono los elementos li que se encuentran dentro de la ul del navbar */
.navbar-list > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* selecciono los párrafos de la lista */
.navbar-list > li > p {
    font-size: 15px;
}

/* seleccionar el último div de mi header */
.navbar {
    display: flex;
}

.img-wrp {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    scale: 1.3;
}

.img-wrp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


header > div > nav {
    border-right: 1px solid var(--stroke);
    margin-right: 20px;
}

.more > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.more {
    display: flex;
    align-items: center;
    gap: 15px;
}

.more > p {
    color: var(--important);
    text-decoration: underline;
    cursor: pointer;
}



/*? asides y main */

#main-content {
    padding: 50px 100px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 550px 250px;
    gap: 20px;
    position: relative;
    justify-content: center;
}

aside {
    background-color: orange;
    height: 80svh;
    border-radius: 20px;
}

main {
    min-height: 80svh;
    border-radius: 20px;
}


/*! publicaciones */
.publicacion {
    background-color: var(--primary);
    border: 1px solid var(--stroke);
    border-radius: 10px;
    margin-bottom: 10px;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.encabezado > div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.encabezado p {
    font-size: 15px;
}

.perfil-wrp {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
}

.perfil-wrp > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.seguir {
    display: flex;
    align-items: center;
    gap: 10px;
}

.seguir p {
    color: #4c32dd;
    font-weight: 500;
}

.publicacion > p {
    padding: 10px;
    margin: 20px 0px;
}

.img-publicacion {
    width: 100%;
    height: 400px;
}

.img-publicacion > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.info {
    display: flex;
    opacity: 0.6;
    padding: 10px;
    justify-content: space-between;
    border-top: 1px solid var(--stroke);
}

.acciones {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    border-top: 1px solid var(--stroke);
    padding-top: 20px;
}

.acciones > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.acciones > li > img {
    width: 30px;
}

.menu-hamburguesa {
    display: none;
    width: 40px;
}

@media (max-width: 1400px) {
    .more {
        display: none;
    }
    header {
        padding: 10px;
    }
    header > div > nav {
        border: none;
    }
}

@media (max-width: 1160px) {
    .left {
        display: none;
    }
    #main-content {
        grid-template-columns: 550px 250px;
    }
}

@media (max-width: 1020px) {
    .menu-hamburguesa {
        display: block;
    }
    .navbar {
        display: none;
    }
}

@media (max-width: 920px) {
    .right {
        display: none;
    }
    #main-content {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 680px) {
    #main-content {
        padding: 50px 10px;
    }
    p {
        font-size: 12px;
    }
    .encabezado p {
        font-size: 12px;
    }
    .acciones > li > img {
        width: 20px;
    }
}