/*Añade los estilos de tu componente aqui*/
.usememo {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 200px;
}

.usememo > div {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}