:root {
	font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
}

/* Unidades de medida absolutas */
p {
	font-size: 12px;
}
/* Unidades de medida relativas */
body {
	border: 2px solid red;
	height: 50vh;
	width: 80vw;
}

.box {
	background-color: blue;
	height: 100%;
	width: 50%;
}

h1 {
	font-size: 4rem;
}

.container {
	font-size: 25px;
}

h2 {
	font-size: 1em;
}
